- #TODO: Figure out why our helper is no longer included (it used to work with older rails_admin)
- helper = Class.new.extend(RailsAdmin::DataQualityViewHelper)
.railsadmin_quality
  %h4
    =I18n.t("admin.actions.data_quality_view.score_text", :object_name => helper.object_name_for(@object, @abstract_model), :score => @object.quality_score)
    - if @object.class.respond_to?(:paper_trail_enabled_for_model)
      -if @object.class.paper_trail_enabled_for_model
        %span#score_graph
          = helper.get_last_quality_scores(@object)



  -if @test_result
    %table.table.table-striped
      %thead
        %tr
          %th
            =I18n.t("admin.actions.data_quality_view.identifier_column")
          %th
            =I18n.t("admin.actions.data_quality_view.description_column")
          %th
            =I18n.t("admin.actions.data_quality_view.status_column")
          %th
            =I18n.t("admin.actions.data_quality_view.message_column")
          %th
            =I18n.t("admin.actions.data_quality_view.additional_column")
          %th
            =I18n.t("admin.actions.data_quality_view.actions_column")
      %tbody
        -@test_result.quality_tests.each do |test|
          %tr
            %td
              =test.identifier
            %td
              =test.description
            %td
              -status_class="label-important"
              -status_class="label-success" if test.state == :pass
              -status_class="label-warning" if test.state == :not_applicable
              %span.label{:class => "#{status_class}"}
                =test.state.to_s.humanize
            %td
              =test.message
            %td
              -test.failed_objects.each do |object|
                =link_to truncate(object.class.to_s, :length => 10), rails_admin.show_path(object.class,object.id)
            %td
              -unless test.state==:pass
                -if test.state==:not_applicable
                  - #TODO: Here we permit any params. This is a quickhack for Rails5 but might also be okay (admin backend and so.)
                  =button_to "Applicable", params.merge({:identifier => test.identifier, :not_applicable => false}).permit!, :class => "btn btn-primary"

                -else
                  =button_to "Not Applicable", params.merge({:identifier => test.identifier, :not_applicable => true}).permit!, :class => "btn btn-primary"

- if @object.class.respond_to?(:paper_trail_enabled_for_model)
  -if @object.class.paper_trail_enabled_for_model
    :javascript
      $(window).ready(function(){
        $('#score_graph').sparkline(
        'html',
        {
          width: '100px',
          chartRangeMin: 0,
          chartRangeMax: #{max_quality_score(@object.class.all)},
          normalRangeMin: #{avg_quality_score(@object.class.all)-5},
          normalRangeMax: #{avg_quality_score(@object.class.all)+5},
          drawNormalOnTop: true,
          normalRangeColor: '#ffebc6'
        });
      });
